<div mat-dialog-content>
  <div class="relative">
    <p class="text-lg font-medium text-center font-robo">

    </p>
    <div class="absolute top-[0px] right-[10px] cursor-pointer w-10 h-10 flex items-center justify-center z-40"
      (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
</div>
<div class="p-3">
  <div class="">

    <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Đăng ký">
        <div class="m-2">
          <ul class="flex flex-wrap gap-3">
            <li class="relative" (click)="changeSelectEarnRegister(1)" *ngIf="getMission>=1 && getMission<3">
              <input class="sr-only peer" type="radio" value="mission-1" name="register-earn" id="option-a">
              <label class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg hover:bg-gray-50 cursor-pointer"
                [ngClass]="selectEarnRegister ==1 ? 'focus:outline-none peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent':  ''"
                for="option-a">
                <div>
                  <p class="m-0 text-sm">
                    Nhiệm vụ 1
                  </p>
                  <p class="text-[#03a66d] text-base font-medium m-0">
                    1 USDT
                  </p>
                </div>
              </label>
            </li>

            <li class="relative" (click)="changeSelectEarnRegister(2)" *ngIf="getMission>=1 && getMission<3">
              <input class="sr-only peer" type="radio" value="mission-2" name="register-earn" id="option-b">
              <label class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-50"
                [ngClass]="selectEarnRegister ==2 ? 'focus:outline-none peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent':  ''"
                for="option-b">
                <div>
                  <p class="m-0 text-sm">
                    Nhiệm vụ 2
                  </p>
                  <p class="text-[#03a66d] text-base font-medium m-0">
                    10 USDT
                  </p>
                </div>
              </label>
            </li>

            <li class="relative" (click)="changeSelectEarnRegister(3)" *ngIf="getMission>=1 && getMission<3">
              <input class="sr-only peer" type="radio" value="mission-3" name="register-earn" id="option-c">
              <label class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-50"
                [ngClass]="selectEarnRegister ==3 ? 'focus:outline-none peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent':  ''"
                for="option-c">
                <div>
                  <p class="m-0 text-sm">
                    Nhiệm vụ 3
                  </p>
                  <p class="text-[#03a66d] text-base font-medium m-0">
                    20 USDT
                  </p>
                </div>
              </label>
            </li>

            <li class="relative" (click)="changeSelectEarnRegister(4)" *ngIf="getMission>=3 && getMission<=6">
              <input class="sr-only peer" type="radio" value="mission-4" name="register-earn" id="option-d">
              <label class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-50"
                [ngClass]="selectEarnRegister ==4 ? 'focus:outline-none peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent':  ''"
                for="option-d">
                <div>
                  <p class="m-0 text-sm">
                    Nhiệm vụ 4
                  </p>
                  <p class="text-[#03a66d] text-base font-medium m-0">
                    1 USDT
                  </p>
                </div>
              </label>
            </li>

            <li class="relative" (click)="changeSelectEarnRegister(5)" *ngIf="getMission>=3 && getMission<=6">
              <input class="sr-only peer" type="radio" value="mission-5" name="register-earn" id="option-e">
              <label class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-50"
                [ngClass]="selectEarnRegister ==5 ? 'focus:outline-none peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent':  ''"
                for="option-e">
                <div>
                  <p class="m-0 text-sm">
                    Nhiệm vụ 5
                  </p>
                  <p class="text-[#03a66d] text-base font-medium m-0">
                    10 USDT
                  </p>
                </div>
              </label>
            </li>

            <li class="relative" (click)="changeSelectEarnRegister(6)" *ngIf="getMission>=3 && getMission<=6">
              <input class="sr-only peer" type="radio" value="mission-6" name="register-earn" id="option-f">
              <label class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-50"
                [ngClass]="selectEarnRegister ==6 ? 'focus:outline-none peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent':  ''"
                for="option-f">
                <div>
                  <p class="m-0 text-sm">
                    Nhiệm vụ 6
                  </p>
                  <p class="text-[#03a66d] text-base font-medium m-0">
                    20 USDT
                  </p>
                </div>
              </label>
            </li>
          </ul>

          <div class="mt-3">
            <label for="" class="text-base font-medium">Số dư của bạn:
              <span class="text-[#03a66d]">{{ myBalance }}</span>
              USDT</label>
          </div>

          <ng-container *ngIf="!isLoading">
            <ng-container>
              <div class="mt-3">
                <p class="text-sm font-medium">Nhiệm vụ {{selectEarnRegister}}</p>
                <div class="flex items-end justify-between mt-3">
                  <div class="w-[300px]">
                    <span class="text-base font-medium">1. Theo dõi và like bài viết Binance trên Facebook</span>
                  </div>

                  <ng-container *ngIf="missionData[selectEarnRegister - 1].getMission.nr1">
                    <div class="text-[#03a66d] bg-[#e6fff1] px-2 py-1 rounded-lg">
                      <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                          stroke="currentColor" class="h-4 stroke-[3px]">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                        </svg>

                        <span class="text-sm font-medium"> Đã hoàn thành</span>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="!missionData[selectEarnRegister - 1].getMission.nr1">
                    <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2"
                      (click)="openLink(selectEarnRegister)">
                      <div class="flex items-center gap-1">
                        <span class="text-md whitespace-nowrap">
                          Kiểm tra
                        </span>
                      </div>
                    </button>
                  </ng-container>
                </div>

                <div class="flex items-end justify-between mt-5">
                  <div class="w-[300px]">
                    <span class="text-base font-medium">2. {{ missionContent.task2 }}</span>
                  </div>
                  <ng-container *ngIf="missionData[selectEarnRegister - 1].getMission.nr2">
                    <div class="text-[#03a66d] bg-[#e6fff1] px-2 py-1 rounded-lg" *ngIf="myBalance > 0">
                      <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                          stroke="currentColor" class="h-4 stroke-[3px]">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                        </svg>

                        <span class="text-sm font-medium"> Đã hoàn thành</span>
                      </div>
                    </div>
                  </ng-container>


                  <ng-container *ngIf="isInsufficientBalance && (!missionData[selectEarnRegister - 1].getMission.nr2)">
                    <div class="text-[#a60303] bg-[#ffe6e6] px-2 py-1 rounded-lg" *ngIf="myBalance <= balanceMission">
                      <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                          stroke="currentColor" class="h-4 stroke-[3px]">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>

                        <span class="text-sm font-medium"> Số dư không đủ</span>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="!missionData[selectEarnRegister - 1].getMission.nr2 && !isInsufficientBalance">
                    <button
                      class="text-black bg-[hsl(48,97%,60%)] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2"
                      (click)="checkBalance(selectEarnRegister)">
                      <div class="flex items-center gap-1">
                        <span class="text-md whitespace-nowrap">
                          Kiểm tra
                        </span>
                      </div>
                    </button>
                  </ng-container>
                </div>
              </div>

              <div class="mt-3">
                <p class="font-medium">Tổng kết</p>
                <div class="mt-3">
                  <div class="flex gap-2">
                    <div class="flex gap-1">
                      <p class="text-[13px] border-b-[1px] border-[#b7bdc6] border-dashed text-[#474d57]">Phần thưởng
                        khi
                        hoàn thành xong nhiệm vụ này:
                      </p>
                    </div>

                    <div>
                      <p class="text-[#03a66d]">
                        {{ rewardMission }} USDT
                      </p>
                    </div>
                  </div>
                  <p class="text-xs text-[#b7bdc6] leading-4">*
                    APR theo thời gian thực có thể thay đổi mỗi phút và phần thưởng được cộng dồn và tích lũy trực tiếp
                    trong Ví Earn của bạn mỗi phút. APR không phải là lợi nhuận thực tế hoặc lợi nhuận dự đoán tính bằng
                    tiền pháp định.</p>

                </div>
              </div>
            </ng-container>

          </ng-container>

          <ng-container *ngIf="isLoading">
            <div class="flex items-center justify-center w-full h-full min-h-32">
              <p>Đang tải nhiệm vụ</p>
            </div>
          </ng-container>
        </div>

        <ng-container *ngIf="!isLoading">
          <div *ngIf="isRequired" class="text-red-500">
            Bạn chưa hoàn thành nhiệm vụ {{ selectEarnRegister }}
          </div>
        </ng-container>

      </mat-tab>
      <mat-tab label="Quy tắc sản phẩm">
        <div class="m-2">

          <div class="relative flex items-center h-10 p-1 my-2 bg-white border rounded w-44">
            <div class="flex justify-center w-full h-8">
              <button class="w-full h-full" (click)="onShowTab(1)">Linh hoạt</button>
            </div>
            <div class="flex justify-center w-full h-8">
              <button class="w-full h-full" (click)="onShowTab(2)">Cố định</button>
            </div>
            <span
              class="elSwitch bg-[#f5f5f5] text-black flex items-center justify-center w-1/2 rounded h-8 transition-all top-[3px] absolute left-1 cursor-pointer font-medium"
              *ngIf="showTab == 1">
              Linh hoạt
            </span>
            <span
              class="elSwitch bg-[#f5f5f5] text-black flex items-center justify-center w-1/2 rounded h-8 transition-all top-[3px] absolute left-[49%] cursor-pointer font-medium"
              *ngIf="showTab == 2">
              Cố định
            </span>
          </div>

          <div id="default-tab-content">
            <div class="py-2 text-xs text-[#707a8a]" id="flexible" role="tabpanel" aria-labelledby="flexible-tab"
              *ngIf="showTab == 1">
              <div class="font-medium">1. Phần thưởng APR theo thời gian thực</div>
              <div class="ml-2">APR theo thời gian thực áp dụng cho tổng số tài sản bạn nạp vào mỗi Sản
                phẩm Linh
                hoạt. Phần thưởng APR theo thời gian thực được cộng dồn và tích lũy trực tiếp trong Ví Earn của bạn
                tính
                từ phút tiếp theo sau khi đăng ký. APR theo thời gian thực có thể thay đổi mỗi phút.</div>

              <div class="mt-4 font-medium">2. Phần thưởng APR theo bậc</div>
              <div class="pt-4 ml-2">


                <ol class="relative border-[#30343b] border-s">
                  <li class="mb-5 ms-4">
                    <div class="absolute w-1.5 h-1.5 bg-[#202630] rounded-full start-[-0.21rem]">
                    </div>
                    <div class="mb-1 font-normal leading-none">
                      <div class="flex justify-between">
                        <div>
                          Ngày đăng ký
                        </div>
                        <div class="text-[#30343b] font-medium">
                          2024-06-05 21:37
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="mb-5 ms-4">
                    <div class="absolute w-1.5 h-1.5 bg-[#202630] rounded-full start-[-0.21rem]">
                    </div>
                    <div class="mb-1 font-normal leading-none">
                      <div class="flex justify-between">
                        <div>
                          Bắt đầu cộng dồn
                        </div>
                        <div class="text-[#30343b] font-medium">
                          2024-06-06 07:00
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="mb-5 ms-4">
                    <div class="absolute w-1.5 h-1.5 bg-[#202630] rounded-full start-[-0.21rem]">
                    </div>
                    <div class="mb-1 font-normal leading-none">
                      <div class="flex justify-between">
                        <div>
                          Phân bổ đầu tiên
                        </div>
                        <div class="text-[#30343b] font-medium">
                          2024-06-07 07:00
                        </div>
                      </div>
                    </div>
                  </li>
                </ol>

                <div>
                  Thỉnh thoảng, Binance có thể cung cấp Phần thưởng APR theo bậc cho một số Sản phẩm Linh hoạt thông
                  qua
                  cơ cấu tỷ lệ theo bậc. Những phần thưởng này được cộng dồn một ngày sau khi đăng ký, bắt đầu lúc
                  07:00
                  Giờ Việt Nam và phân bổ đến Ví Spot sau ngày bắt đầu cộng dồn (hai ngày sau khi đăng ký) trong
                  khoảng
                  thời gian từ 07:00 đến 15:00 (Giờ Việt Nam). ​​APR này có thể thay đổi hàng ngày.
                </div>

              </div>
              <div class="mt-4 font-medium">3. Rút tiền</div>
              <div class="ml-2">
                <div>
                  Các tài sản từ Sản phẩm Linh hoạt sẽ được hoàn trả về Ví Spot của bạn ngay sau khi hệ thống xử lý
                  thành công các yêu cầu rút.
                </div>

                <div>
                  Tuy nhiên, hạn mức rút hàng ngày áp dụng cho từng Sản phẩm Linh hoạt và có thể thay đổi bất cứ lúc
                  nào.
                </div>

                <div>
                  Tài sản bạn gửi vào Simple Earn có thể cho người dùng Binance khác vay (ví dụ: các sản phẩm Vay tiền
                  mã hóa và Ký quỹ).
                </div>

                <div>
                  Yêu cầu rút số tiền lớn có thể tạm thời làm trì hoãn việc rút. Có thể tiếp tục rút tiền khi thanh
                  khoản được cung cấp lại nhưng không giới hạn ở các hành động như đóng vị thế của người vay
                </div>

              </div>
            </div>
            <div class="py-2 text-xs text-[#707a8a]" id="permanent" role="tabpanel" aria-labelledby="permanent-tab"
              *ngIf="showTab == 2">
              <div class="font-medium">1. Phần thưởng</div>
              <div class="ml-2">
                <div>
                  APR của sản phẩm cố định có thể thay đổi hàng ngày. Những phần thưởng này được cộng dồn vào ngày sau
                  khi đăng ký, bắt đầu lúc 07:00 (Giờ Việt Nam). Bạn sẽ bắt đầu nhận phần thưởng phân bổ đến Ví Spot
                  sau
                  ngày bắt đầu tích lũy (hai ngày sau khi đăng ký) trong khoảng thời gian từ 07:00 đến 15:00 (Giờ Việt
                  Nam).
                </div>

                <div>
                  <div class="font-medium"> Phần thưởng hàng ngày = Tài sản đã nạp * APR/365 </div>
                  (đến vị trí thập phân nhất định, tùy thuộc vào đồng tiền mã hóa)
                </div>
              </div>

              <div class="mt-4 font-medium">2. Đăng ký và rút</div>
              <div class="ml-2">
                <div>
                  Hoạt động đăng ký và rút tài sản của Sản phẩm cố định Simple Earn diễn ra hằng ngày từ 07:10 đến
                  06:50
                  ngày hôm sau (Giờ Việt Nam).
                </div>
              </div>

              <div class="mt-4 font-medium">3. Rút sớm</div>
              <div class="ml-2">
                <div>
                  Đối với các Sản phẩm Cố định đã chọn, bạn có thể rút tài sản của mình bất cứ lúc nào trước thời điểm
                  đáo hạn. Tuy nhiên, nếu rút sớm, bạn sẽ mất tất cả phần thưởng đã tích lũy. Bạn sẽ nhận được toàn bộ
                  số dư tài sản bị khóa của mình vào Ví Spot của bạn trong vòng 72 giờ tiếp theo. Trong trường hợp thị
                  trường biến động mạnh, mạng lưới chậm trễ hoặc khi số lượng yêu cầu rút lớn bất thường, việc rút tài
                  sản của bạn có thể tạm thời bị trì hoãn.
                </div>
              </div>
            </div>
          </div>


        </div>
      </mat-tab>
    </mat-tab-group>


    <div class="w-full text-right">
      <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-9 py-3 mr-2"
        (click)="!isProcess && !isCompleted ? onProcess(selectEarnRegister) : onNoClick()" [disabled]="isProcess"
        [ngClass]="isProcess ? 'cursor-not-allowed opacity-50' : ''">
        <div class="flex items-center gap-1">
          <span class="text-md" *ngIf="!isProcess && !isCompleted">
            Xác nhận
          </span>

          <span class="text-md" *ngIf="isProcess">
            Đang xử lý
          </span>

          <span class="text-md"
            *ngIf="!isProcess && isCompleted && (missionData[selectEarnRegister - 1].getMission['nr1'] && missionData[selectEarnRegister - 1].getMission['nr2'])">
            Đã hoàn thành
          </span>
        </div>
      </button>
    </div>
  </div>
</div>