<div class="max-w-[1200px] py-6 mx-auto">

  <div class="flex">
    <div class="w-1/5">
      <p class="text-base font-medium leading-6">Cộng đồng</p>

    </div>
    <div class="w-1/5">
      <p class="text-base font-medium leading-6">
        Về chúng tôi
      </p>

      <ul class="footer-navlist-item-list text-[#1E2329] leading-8">
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-About" href="https://www.binance.com/vi/about"
            target="_self" class="typography-Body3 color-textprimary">Thông tin thêm</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-joinUs" href="https://www.binance.com/vi/careers"
            target="_self" class="typography-Body3 color-textprimary">Cơ hội nghề nghiệp</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Announcement"
            href="https://www.binance.com/vi/support/announcement" target="_self"
            class="typography-Body3 color-textprimary">Thông báo</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-news"
            href="https://www.binance.com/vi/square/news/all" target="_self"
            class="typography-Body3 color-textprimary">Tin tức</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Press" href="https://www.binance.com/vi/press"
            target="_self" class="typography-Body3 color-textprimary">Báo chí</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_footer-legal"
            href="https://www.binance.com/vi/legal/home" target="_self" class="typography-Body3 color-textprimary">Pháp
            lý</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Terms" href="https://www.binance.com/vi/terms"
            target="_self" class="typography-Body3 color-textprimary">Điều khoản</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Privacy"
            href="https://www.binance.com/vi/about-legal/privacy-portal" target="_self"
            class="typography-Body3 color-textprimary">Riêng tư</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_footer-building-trust"
            href="https://www.binance.com/vi/land/building_trust" target="_self"
            class="typography-Body3 color-textprimary">Gây dựng niềm tin</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-binanceBlog" href="https://www.binance.com/vi/blog"
            target="_self" class="typography-Body3 color-textprimary">Blog</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Community"
            href="https://www.binance.com/vi/community" target="_self" class="typography-Body3 color-textprimary">Cộng
            đồng</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_footer_sitemap"
            href="https://www.binance.com/vi/country-region-selector" target="_self"
            class="typography-Body3 color-textprimary">Sơ đồ trang web</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-risk-warning"
            href="https://www.binance.com/vi/risk-warning" target="_self"
            class="typography-Body3 color-textprimary">Cảnh báo rủi ro</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Notices"
            href="https://www.binance.com/vi/support/list/notices" target="_self"
            class="typography-Body3 color-textprimary">Thông báo</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Download" href="https://www.binance.com/vi/download"
            target="_self" class="typography-Body3 color-textprimary">Tải xuống</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Desktop Application"
            href="https://www.binance.com/vi/desktop-download" target="_self"
            class="typography-Body3 color-textprimary">Ứng dụng dành cho máy tính để bàn</a></li>
      </ul>

    </div>
    <div class="w-1/5">
      <p class="text-base font-medium leading-6">
        Sản phẩm
      </p>

      <ul class="footer-navlist-item-list text-[#1E2329] leading-8">
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Exchange" href="https://www.binance.com/vi/trade"
            target="_self" class="typography-Body3 color-textprimary">Exchange</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-creditCard"
            href="https://www.binance.com/vi/buy-sell-crypto" target="_self"
            class="typography-Body3 color-textprimary">Mua tiền mã hóa</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-levaragedtoken"
            href="https://www.binance.com/vi/leveraged-tokens/tokens/allTokens" target="_blank"
            class="typography-Body3 color-textprimary">Token đòn bẩy</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Binance Pay"
            href="https://www.binance.com/en/my/wallet/account/payment" target="_self"
            class="typography-Body3 color-textprimary">Pay</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Academy" href="https://academy.binance.com/vi"
            target="_self" class="typography-Body3 color-textprimary">Academy</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-live" href="https://www.binance.com/vi/live"
            target="_self" class="typography-Body3 color-textprimary">Live</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-tax" href="https://www.binance.com/vi/tax"
            target="_self" class="typography-Body3 color-textprimary">Thuế</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-GiftCard" href="https://www.binance.com/vi/gift-card"
            target="_self" class="typography-Body3 color-textprimary">Thẻ quà tặng</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-launchpad-launchpool"
            href="https://launchpad.binance.com/vi" target="_self" class="typography-Body3 color-textprimary">Launchpad
            &amp; Launchpool</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-auto-invest"
            href="https://www.binance.com/vi/auto-invest" target="_blank" class="typography-Body3 color-textprimary">Đầu
            tư Tự động</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-eth2" href="https://www.binance.com/vi/eth2"
            target="_blank" class="typography-Body3 color-textprimary">Staking ETH</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-NFT" href="https://www.binance.com/vi/nft/home"
            target="_self" class="typography-Body3 color-textprimary">NFT</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-binanceCoin" href="https://www.binance.com/vi/bnb"
            target="_self" class="typography-Body3 color-textprimary">BNB</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_BABT"
            href="https://www.binance.com/vi/BABT?source=footer" target="_self"
            class="typography-Body3 color-textprimary">BABT</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Research" href="https://www.binance.com/vi/research"
            target="_self" class="typography-Body3 color-textprimary">Research</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Charity" href="https://www.binance.charity"
            target="_self" class="typography-Body3 color-textprimary">Charity</a></li>
      </ul>
    </div>
    <div class="w-1/5">
      <p class="text-base font-medium leading-6">
        Kinh doanh
      </p>

      <ul class="footer-navlist-item-list text-[#1E2329] leading-8">
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-applyP2P"
            href="https://c2c.binance.com/vi/merchantApplication" target="_self"
            class="typography-Body3 color-textprimary">Đăng ký Thương nhân P2P</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-p2pro" href="https://p2p.binance.com/vi/p2pro"
            target="_self" class="typography-Body3 color-textprimary">Ứng dụng dành cho thương nhân P2Pro</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-ListingApplication"
            href="https://www.binance.com/vi/my/coin-apply" target="_self"
            class="typography-Body3 color-textprimary">Đăng ký niêm yết coin</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-institutional"
            href="https://www.binance.com/vi/vip-institutional-services" target="_self"
            class="typography-Body3 color-textprimary">Dịch vụ cho tổ chức và VIP</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Labs" href="https://labs.binance.com/" target="_self"
            class="typography-Body3 color-textprimary">Lab</a></li>
      </ul>

      <div class="mt-10">
        <p class="text-base font-medium leading-6">
          Học hỏi
        </p>

        <ul class="footer-navlist-item-list text-[#1E2329] leading-8">
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-learn-earn-title"
              href="https://academy.binance.com/vi/learn-and-earn" target="_self"
              class="typography-Body3 color-textprimary">Tìm hiểu kiến thức và kiếm tiền</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-footer-pricepage"
              href="https://www.binance.com/vi/price" target="_self" class="typography-Body3 color-textprimary">Xem giá
              tiền mã hóa</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_footer_bitcoin_price"
              href="https://www.binance.com/vi/price/bitcoin" target="_self"
              class="typography-Body3 color-textprimary">Giá Bitcoin</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_footer_ethereum_price"
              href="https://www.binance.com/vi/price/ethereum" target="_self"
              class="typography-Body3 color-textprimary">Giá Ethereum</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_footer_price_predictions"
              href="https://www.binance.com/vi/price-prediction" target="_blank"
              class="typography-Body3 color-textprimary">Duyệt xem các dự đoán về giá tiền mã hóa</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_footer_bitcoin_price_prediction"
              href="https://www.binance.com/vi/price-prediction/bitcoin" target="_blank"
              class="typography-Body3 color-textprimary">Dự đoán giá Bitcoin</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_footer_ethereum_price_prediction"
              href="https://www.binance.com/vi/price-prediction/ethereum" target="_blank"
              class="typography-Body3 color-textprimary">Dự đoán giá Ethereum</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-buy-bitcoin"
              href="https://www.binance.com/vi/how-to-buy/bitcoin" target="_self"
              class="typography-Body3 color-textprimary">Mua Bitcoin</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-buybnb"
              href="https://www.binance.com/vi/how-to-buy/bnb" target="_self"
              class="typography-Body3 color-textprimary">Mua BNB</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-buyRipple"
              href="https://www.binance.com/vi/how-to-buy/xrp" target="_self"
              class="typography-Body3 color-textprimary">Mua Ripple</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-buydogecoin"
              href="https://www.binance.com/vi/how-to-buy/dogecoin" target="_self"
              class="typography-Body3 color-textprimary">Mua Dogecoin</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-buyEthereum"
              href="https://www.binance.com/vi/how-to-buy/ethereum" target="_self"
              class="typography-Body3 color-textprimary">Mua Ethereum</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-BuyTradable"
              href="https://www.binance.com/vi/altcoins/tradable" target="_self"
              class="typography-Body3 color-textprimary">Mua altcoin có thể giao dịch</a></li>
        </ul>
      </div>
    </div>
    <div class="w-1/5">
      <p class="text-base font-medium leading-6">
        Dịch vụ
      </p>

      <ul class="footer-navlist-item-list text-[#1E2329] leading-8">
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Affiliate"
            href="https://www.binance.com/vi/activity/affiliate" target="_self"
            class="typography-Body3 color-textprimary">Affiliate</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-referral"
            href="https://www.binance.com/vi/activity/referral?utm_source=Lite_web_footer" target="_self"
            class="typography-Body3 color-textprimary">Giới thiệu</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-otctrading" href="https://www.binance.com/vi/otc"
            target="_self" class="typography-Body3 color-textprimary">Giao dịch OTC</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_landing-data-title"
            href="https://www.binance.com/vi/landing/data" target="_self" class="typography-Body3 color-textprimary">Dữ
            liệu lịch sử thị trường</a></li>
        <li class="footer-navlist-item"><a id="footer_menu_item_ba-Proof-of-Reserves"
            href="https://www.binance.com/vi/proof-of-reserves" target="_self"
            class="typography-Body3 color-textprimary">Bằng chứng Dự trữ</a></li>
      </ul>

      <div class="mt-10">
        <p class="text-base font-medium leading-6">
          Hỗ trợ
        </p>

        <ul class="footer-navlist-item-list text-[#1E2329] leading-8">
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-SubmitARequest"
              href="https://www.binance.com/vi/chat?sourceEntry=4" target="_self"
              class="typography-Body3 color-textprimary">Chat hỗ trợ 24/7</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-SupportCenter"
              href="https://www.binance.com/vi/support" target="_self" class="typography-Body3 color-textprimary">Trung
              tâm trợ giúp</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_footer_support_request_feature"
              href="https://www.binance.com/vi/my/user-support/feedback/entry" target="_self"
              class="typography-Body3 color-textprimary">Phản hồi và đề xuất về sản phẩm</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-Fees"
              href="https://www.binance.com/vi/fee/schedule" target="_self"
              class="typography-Body3 color-textprimary">Phí giao dịch</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_header-tier2-api"
              href="https://www.binance.com/vi/binance-api" target="_self"
              class="typography-Body3 color-textprimary">API</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-official-verification"
              href="https://www.binance.com/vi/official-verification" target="_self"
              class="typography-Body3 color-textprimary">Xác minh Binance</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-tradeRules"
              href="https://www.binance.com/vi/trade-rule" target="_self" class="typography-Body3 color-textprimary">Quy
              tắc giao dịch</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-airdrop" href="https://www.binance.com/vi/airdrop"
              target="_self" class="typography-Body3 color-textprimary">Cổng Airdrop Binance</a></li>
          <li class="footer-navlist-item"><a id="footer_menu_item_ba-law"
              href="https://www.binance.com/vi/support/law-enforcement" target="_self"
              class="typography-Body3 color-textprimary">Yêu cầu Thực thi Pháp luật</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>