<div class="bg-[#fafafa]">

  <div class="max-w-[1200px] mx-auto px-4 sm:px-6 xl:px-0">

    <div class="flex">
      <div class="mt-8 lg:mt-3">
        <p class="text-base font-medium lg:text-3xl md:block">
          Simple Earn
        </p>
      </div>
    </div>

    <div class="justify-between block py-0 pt-0 xl:py-6 xl:flex md:pt-3 ">
      <div class="hidden w-2/2 md:block">
        <p class="text-6xl font-semibold">
          Simple Earn
        </p>
        <div>
          <p class="text-xl">
            Cách đơn giản để Gửi tiền & Kiếm lãi
          </p>
        </div>
        <div>
          <button
            class="text-black bg-[#eaecef] hover:bg-[#edeff1] font-medium rounded-md px-5 lg:px-5 py-1 lg:py-2.5 mr-2 text-[17px]">
            Simple Earn là gì?
          </button>
        </div>
      </div>

      <div class="bg-white border-[1px] border-[#eaecef] p-3 rounded-xl xl:text-center w-2/2 xl:mt-0 mt-0 md:mt-6">
        <p class="text-base font-medium text-center">Lịch sử trúng thưởng</p>
        <div class="w-full h-56 pb-4 overflow-auto xl:w-80" #listContainer>

          <p clas="m-0" *ngFor="let item of listRewards">
            <span class="font-medium"> {{ item.address }}</span> vừa nhận được <span
              class="text-[#03a66d] font-medium">{{
              item.amount }}</span><span class="font-medium"> USDT</span>
          </p>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="max-w-[1200px] py-6 px-4 sm:px-6 xl:px-0 mx-auto">

  <div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-32 overflow-hidden sm:h-40 md:h-44 lg:h-48 rounded-xl">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="/assets/images/slider-1.png"
          class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="/assets/images/slider-2.png"
          class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="/assets/images/slider-1.png"
          class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-1 left-1/2 rtl:space-x-reverse">
      <button type="button" class="w-3 h-3 rounded-full border-[1px] border-[#000]" aria-current="true"
        aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full border-[1px] border-[#000]" aria-current="false"
        aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full border-[1px] border-[#000]" aria-current="false"
        aria-label="Slide 3" data-carousel-slide-to="0"></button>
    </div>
    <!-- Slider controls -->
    <button type="button"
      class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer start-0 group focus:outline-none"
      data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50">
        <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 1 1 5l4 4" />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button"
      class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer end-0 group focus:outline-none"
      data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 9 4-4-4-4" />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>

</div>

<div class="max-w-[1200px] px-4 sm:px-6 xl:px-0 mx-auto">

  <div class="gap-3 py-3 md:flex md:py-12">

    <div class="flex gap-3">
      <div class="md:w-[345px] flex-1">
        <div class="relative w-full">
          <input type="text"
            class="pl-12 border-[1px] rounded-lg px-3 py-2.5 bg-[#ffffff] dark:bg-[#12161d] border-[#e9e9e9] dark:border-[#3a444f] outline-none focus:border-[#fcd535] focus:shadow-none focus:ring-0 w-full"
            placeholder="Tìm kiếm coin">
          <div class="absolute top-[50%] left-3 translate-y-[-50%] pointer-events-none">
            <svg class="w-6 h-6 bn-svg hover-color text-[#b7bdc6]" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11 6C13.7614 6 16 8.23858 16 11C16 13.7614 13.7614 16 11 16C8.23857 16 6 13.7614 6 11C6 8.23858 8.23858 6 11 6ZM11 3C15.4183 3 19 6.58172 19 11C19 12.3907 18.6451 13.6985 18.021 14.8379L21.0915 17.9086L19.5006 19.4995L17.9097 21.0904L14.8396 18.0201C13.6999 18.6448 12.3914 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3Z"
                fill="currentColor"></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="w-auto md:w-auto">
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
          class="focus:ring-1 focus:outline-none focus:ring-[#fcd535] ring-1 ring-[#e9e9e9] font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center dark:focus:ring-[#fcd535]"
          type="button">
          <div class="items-center hidden md:inline-flex">
            Tất cả thời hạn
            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </div>

          <div class="inline-flex items-center md:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#929aa5" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="#929aa5" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
            </svg>
          </div>
        </button>

        <!-- Dropdown menu -->
        <div id="dropdown"
          class="z-30 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                Tất cả thời hạn
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                Linh hoạt
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                Cố định
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-3 md:mt-0">
      <div class="flex items-center h-full md:pl-3">
        <input checked id="checked-checkbox" type="checkbox" value=""
          class="w-4 h-4 text-[#202630] bg-gray-100 border-gray-300 rounded focus:ring-[#202630] focus:ring-0">
        <label for="checked-checkbox" class="text-sm text-gray-900 ms-2">
          Khởp các tài sản của tôi
        </label>
      </div>
    </div>

  </div>

  <div class="mb-3">
    <label for="" class="text-base font-medium">Nhập địa chỉ tham gia</label>
    <form [formGroup]="registerForm">
      <div class="items-center block gap-3 mt-2 sm:flex">
        <div class="relative w-full sm:w-[345px]">
          <input type="text" placeholder="Nhập địa chỉ tham gia"
            class="border-[1px] rounded-lg px-3 py-2.5 bg-[#ffffff] dark:bg-[#12161d] border-[#e9e9e9] outline-none focus:border-[#fcd535] focus:shadow-none focus:ring-0 w-full"
            name="address" [formControl]="address" required="">
        </div>

        <button
          class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-7 py-3 mr-2 mt-3 sm:mt-0 w-full sm:w-auto"
          (click)="register();">
          <div class="flex items-center justify-center gap-1"><span class="text-md"> Đăng ký </span></div>
        </button>
      </div>
    </form>
  </div>

  <div>
    <p class="m-0 text-xl font-medium lg:text-3xl">
      Sản phẩm bảo đảm tiền gốc
    </p>

    <p class="hidden m-0 text-lg md:block lg:text-xl">
      Kiếm phần thưởng với các sản phẩm bảo đảm tiền gốc.
    </p>

    <div>
      <div class="flex mt-6 mb-4">
        <div class="xl:w-[240px] w-[300px] h-5 flex items-center">
          <p class="m-0 text-sm font-normal">Đồng Coin</p>
        </div>
        <div class="w-[320px] h-5 flex items-center">
          <p class="m-0 text-sm font-normal">APR</p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none" class="w-4 h-4 ml-1">
            <path d="M7.29167 8.75023V7.37401L10 4.45642L12.7083 7.37401V8.75023H7.29167Z" fill="#929AA5"></path>
            <path d="M12.7083 11.25V12.6262L10 15.5438L7.29167 12.6262V11.25H12.7083Z" fill="#929AA5"></path>
          </svg>
        </div>
        <div class="w-[483px] h-5 items-center hidden xl:flex">
          <p class="m-0 text-sm font-normal">Thời hạn (ngày)</p>
        </div>
        <div class="w-[144px] h-5 flex items-center">

        </div>
      </div>

      <div class="flex">
        <div class="xl:w-[240px] w-[300px] h-16 flex items-center">
          <img class="w-4 h-4 rounded-full shadow-xl" src="/assets/images/usdt.png">
          <span class="ml-3 text-base font-medium">
            USDT
          </span>
        </div>
        <div class="w-[320px] h-16 flex items-center">
          <p class="m-0 font-medium text-base text-[#03a66d]">
            7.25%
          </p>
        </div>
        <div class="w-[488px] h-16 hidden xl:flex items-center">
          <ul class="flex gap-x-3">
            <li class="relative">
              <input class="sr-only peer" type="radio" value="flexible" name="usdt" id="option-1">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-1">
                Linh hoạt
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="14d" name="usdt" id="option-2">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-2">
                14
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-[144px] h-16 flex items-center">
          <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2 mr-2"
            (click)="openRegister()">
            <div class="flex items-center gap-1">
              <span class="text-md whitespace-nowrap">
                Đăng ký
              </span>
            </div>
          </button>
        </div>
      </div>

      <div class="flex">
        <div class="xl:w-[240px] w-[300px] h-16 flex items-center">
          <img class="w-4 h-4 rounded-full shadow-xl" src="/assets/images/fdusd.png">
          <span class="ml-3 text-base font-medium">
            FDUSD
          </span>
        </div>
        <div class="w-[320px] h-16 flex items-center">
          <p class="m-0 font-medium text-base text-[#03a66d]">
            0.98%
          </p>
        </div>
        <div class="w-[488px] h-16 hidden xl:flex items-center">
          <ul class="flex gap-x-3">
            <li class="relative">
              <input class="sr-only peer" type="radio" value="flexible" name="fdusd" id="option-3">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-3">
                Linh hoạt
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-[144px] h-16 flex items-center">
          <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2 mr-2"
            (click)="openRegister()">
            <div class="flex items-center gap-1">
              <span class="text-md whitespace-nowrap">
                Đăng ký
              </span>
            </div>
          </button>
        </div>
      </div>

      <div class="flex">
        <div class="xl:w-[240px] w-[300px] h-16 flex items-center">
          <img class="w-4 h-4 rounded-full shadow-xl" src="/assets/images/bnb.png">
          <span class="ml-3 text-base font-medium">
            BNB
          </span>
        </div>
        <div class="w-[320px] h-16 flex items-center">
          <p class="m-0 font-medium text-base text-[#03a66d]">
            0.75%
          </p>
        </div>
        <div class="w-[488px] h-16 hidden xl:flex items-center">
          <ul class="flex gap-x-3">
            <li class="relative">
              <input class="sr-only peer" type="radio" value="flexible" name="bnb" id="option-4">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-4">
                Linh hoạt
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="15d" name="bnb" id="option-5">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-5">
                15d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="30d" name="bnb" id="option-6">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-6">
                30d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="60d" name="bnb" id="option-7">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-7">
                60d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="90d" name="bnb" id="option-8">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-8">
                90d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="120d" name="bnb" id="option-9">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-9">
                120d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-[144px] h-16 flex items-center">
          <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2 mr-2"
            (click)="openRegister()">
            <div class="flex items-center gap-1">
              <span class="text-md whitespace-nowrap">
                Đăng ký
              </span>
            </div>
          </button>
        </div>
      </div>

      <div class="flex">
        <div class="xl:w-[240px] w-[300px] h-16 flex items-center">
          <img class="w-4 h-4 rounded-full shadow-xl" src="/assets/images/sol.png">
          <span class="ml-3 text-base font-medium">
            SOL
          </span>
        </div>
        <div class="w-[320px] h-16 flex items-center">
          <p class="m-0 font-medium text-base text-[#03a66d]">
            6.8%
          </p>
        </div>
        <div class="w-[488px] h-16 hidden xl:flex items-center">
          <ul class="flex gap-x-3">
            <li class="relative">
              <input class="sr-only peer" type="radio" value="flexible" name="sol" id="option-10">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-10">
                Linh hoạt
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="14d" name="sol" id="option-11">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-11">
                14d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="30d" name="sol" id="option-12">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-12">
                30d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="60d" name="sol" id="option-13">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-13">
                60d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="90d" name="sol" id="option-14">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-14">
                90d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="120d" name="sol" id="option-15">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-15">
                120d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-[144px] h-16 flex items-center">
          <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2 mr-2"
            (click)="openRegister()">
            <div class="flex items-center gap-1">
              <span class="text-md whitespace-nowrap">
                Đăng ký
              </span>
            </div>
          </button>
        </div>
      </div>

      <div class="flex">
        <div class="xl:w-[240px] w-[300px] h-16 flex items-center">
          <img class="w-4 h-4 rounded-full shadow-xl" src="/assets/images/stg.png">
          <span class="ml-3 text-base font-medium">
            STG
          </span>
        </div>
        <div class="w-[320px] h-16 flex items-center">
          <p class="m-0 font-medium text-base text-[#03a66d]">
            18.95%
          </p>
        </div>
        <div class="w-[488px] h-16 hidden xl:flex items-center">
          <ul class="flex gap-x-3">
            <li class="relative">
              <input class="sr-only peer" type="radio" value="flexible" name="stg" id="option-16">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-16">
                Linh hoạt
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-[144px] h-16 flex items-center">
          <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2 mr-2"
            (click)="openRegister()">
            <div class="flex items-center gap-1">
              <span class="text-md whitespace-nowrap">
                Đăng ký
              </span>
            </div>
          </button>
        </div>
      </div>

      <div class="flex">
        <div class="xl:w-[240px] w-[300px] h-16 flex items-center">
          <img class="w-4 h-4 rounded-full shadow-xl" src="/assets/images/usdt.png">
          <span class="ml-3 text-base font-medium">
            USDC
          </span>
        </div>
        <div class="w-[320px] h-16 flex items-center">
          <ul class="flex gap-x-3">
            <p class="m-0 font-medium text-base text-[#03a66d]">
              4.58% + 4%
            </p>
          </ul>
        </div>
        <div class="w-[488px] h-16 hidden xl:flex items-center">
          <ul class="flex gap-x-3">
            <li class="relative">
              <input class="sr-only peer" type="radio" value="flexible" name="aeur" id="option-18">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-18">
                Linh hoạt
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-[144px] h-16 flex items-center">
          <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2 mr-2"
            (click)="openRegister()">
            <div class="flex items-center gap-1">
              <span class="text-md whitespace-nowrap">
                Đăng ký
              </span>
            </div>
          </button>
        </div>
      </div>

      <div class="flex">
        <div class="xl:w-[240px] w-[300px] h-16 flex items-center">
          <img class="w-4 h-4 rounded-full shadow-xl" src="/assets/images/aeur.png">
          <span class="ml-3 text-base font-medium">
            AEUR
          </span>
        </div>
        <div class="w-[320px] h-16 flex items-center">
          <p class="m-0 font-medium text-base text-[#03a66d]">
            5.88%
          </p>
        </div>
        <div class="w-[488px] h-16 hidden xl:flex items-center">
          <ul class="flex gap-x-3">
            <li class="relative">
              <input class="sr-only peer" type="radio" value="flexible" name="aeur" id="option-19">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-19">
                Linh hoạt
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-[144px] h-16 flex items-center">
          <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2 mr-2"
            (click)="openRegister()">
            <div class="flex items-center gap-1">
              <span class="text-md whitespace-nowrap">
                Đăng ký
              </span>
            </div>
          </button>
        </div>
      </div>

      <div class="flex">
        <div class="xl:w-[240px] w-[300px] h-16 flex items-center">
          <img class="w-4 h-4 rounded-full shadow-xl" src="/assets/images/ava.png">
          <span class="ml-3 text-base font-medium">
            AVA
          </span>
        </div>
        <div class="w-[320px] h-16 flex items-center">
          <p class="m-0 font-medium text-base text-[#03a66d]">
            0.62%
          </p>
        </div>
        <div class="w-[488px] h-16 hidden xl:flex items-center">
          <ul class="flex gap-x-3">
            <li class="relative">
              <input class="sr-only peer" type="radio" value="flexible" name="ava" id="option-20">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-20">
                Linh hoạt
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-[144px] h-16 flex items-center">
          <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2 mr-2"
            (click)="openRegister()">
            <div class="flex items-center gap-1">
              <span class="text-md whitespace-nowrap">
                Đăng ký
              </span>
            </div>
          </button>
        </div>
      </div>

      <div class="flex">
        <div class="xl:w-[240px] w-[300px] h-16 flex items-center">
          <img class="w-4 h-4 rounded-full shadow-xl" src="/assets/images/bb.png">
          <span class="ml-3 text-base font-medium">
            BB
          </span>
        </div>
        <div class="w-[320px] h-16 flex items-center">
          <p class="m-0 font-medium text-base text-[#03a66d]">
            0.44%
          </p>
        </div>
        <div class="w-[488px] h-16 hidden xl:flex items-center">
          <ul class="flex gap-x-3">
            <li class="relative">
              <input class="sr-only peer" type="radio" value="flexible" name="bb" id="option-21">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-21">
                Linh hoạt
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-[144px] h-16 flex items-center">
          <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2 mr-2"
            (click)="openRegister()">
            <div class="flex items-center gap-1">
              <span class="text-md whitespace-nowrap">
                Đăng ký
              </span>
            </div>
          </button>
        </div>
      </div>

      <div class="flex">
        <div class="xl:w-[240px] w-[300px] h-16 flex items-center">
          <img class="w-4 h-4 rounded-full shadow-xl" src="/assets/images/fun.png">
          <span class="ml-3 text-base font-medium">
            FUN
          </span>
        </div>
        <div class="w-[320px] h-16 flex items-center">
          <p class="m-0 font-medium text-base text-[#03a66d]">
            4.9%
          </p>
        </div>
        <div class="w-[488px] h-16 hidden xl:flex items-center">
          <ul class="flex gap-x-3">
            <li class="relative">
              <input class="sr-only peer" type="radio" value="flexible" name="fun" id="option-22">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-22">
                Linh hoạt
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="15d" name="fun" id="option-23">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-23">
                15d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>

            <li class="relative">
              <input class="sr-only peer" type="radio" value="30d" name="fun" id="option-24">
              <label
                class="flex px-3.5 py-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-[#000] peer-checked:ring-1 peer-checked:border-transparent"
                for="option-24">
                30d
              </label>

              <div class="absolute top-0 right-0 hidden w-4 h-4 peer-checked:block check">
                <div class="relative w-full h-full bg-black rounded-full">

                  <svg size="10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4 text-white bn-svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z"
                      fill="currentColor"></path>
                  </svg>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-[144px] h-16 flex items-center">
          <button class="text-black bg-[#fcd535] hover:bg-[#fddd5d] font-medium rounded-lg text-sm px-5 py-2 mr-2"
            (click)="openRegister()">
            <div class="flex items-center gap-1">
              <span class="text-md whitespace-nowrap">
                Đăng ký
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="py-2 mx-auto mt-4 text-center">
      <a href="###" class="text-[#c99400] text-center font-medium text-base hover:text-[#f0b90b]">Xem thêm</a>
    </div>
  </div>

  <div>
    <p class="m-0 text-xl font-medium lg:text-3xl">Các câu hỏi thường gặp
    </p>
    <div id="accordion-open" data-accordion="open" class="mt-3">

      <div class="mb-1" *ngFor="let item of getAccordion; let i = index;" [ngClass]="i >= limit ? 'hidden' : ''">

        <div class="mb-0 text-xl leading-7 font-medium text-[#1e2329] sm:hover:bg-[#f5f5f5] rounded-xl overflow-hidden">
          <button type="button"
            class="flex items-center justify-between w-full gap-3 p-5 font-medium text-gray-500 rtl:text-right dark:text-gray-400 group"
            attr.data-accordion-target="#accordion-open-body-{{ i + 1 }}" aria-expanded="false">
            <span class="flex items-start justify-start gap-4">
              <div
                class="border-[1px] border-[#eaecef] text-base font-medium w-8 h-8 px-1 py-0.5 text-center rounded-lg flex justify-center items-center bg-white text-[#1e2329]">
                {{ i + 1 }}
              </div>
              <p class="m-0 text-xl font-medium leading-7 text-[#1e2329] text-left">
                {{ item.title }}
              </p>
            </span>

            <div class="p-2.5 group-hover:bg-[#fcd535] rounded-full text-black">

              <svg data-accordion-icon class="w-3 h-3 text-black rotate-180 shrink-0" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 5 5 1 1 5" />
              </svg>

              <svg data-accordion-icon class="hidden w-3 h-3 text-black rotate-180 shrink-0"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                <path d="M3 10.5v3h18v-3H3z" fill="currentColor"></path>
              </svg>

            </div>
          </button>
        </div>
        <div id="accordion-open-body-{{ i + 1 }}" class="hidden">
          <div class="p-5 text-base text-[#707a8a] sm:bg-[#f5f5f5] rounded-[0_0_12px_12px] relative bottom-1.5">
            <div *ngFor="let item of item.content">
              <p>
                {{ item }}
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="py-2 mx-auto mt-4 text-center" *ngIf="limit <=5">
        <a href="###" class="text-[#c99400] text-center font-medium text-base hover:text-[#f0b90b]"
          (click)="onMoreAccordion(10)">Xem thêm</a>
      </div>

      <div class="py-2 mx-auto mt-4 text-center" *ngIf="!(limit <=5)">
        <a href="###" class="text-[#c99400] text-center font-medium text-base hover:text-[#f0b90b]"
          (click)="onMoreAccordion(5)">Ẩn bớt</a>
      </div>


    </div>
  </div>

</div>