::ng-deep {
    .m-0 {
        margin: 0 !important;
    }
    @media screen and (min-width: 576px) {
        ::ng-deep {
            ::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }

            ::-webkit-scrollbar-track {
                background: #fff;
            }

            ::-webkit-scrollbar-thumb {
                background: #bbb;
                border-radius: 30px;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: #aaa;
            }
        }
    }
}
