/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --mdc-dialog-container-shape: 12px;
    .mat-mdc-tab-group,
    .mat-mdc-tab-nav-bar {
        --mdc-tab-indicator-active-indicator-color: #fcd535 !important;
        --mat-tab-header-active-label-text-color: #000 !important;
        --mat-tab-header-active-ripple-color: transparent !important;
        --mat-tab-header-inactive-ripple-color: transparent !important;
        --mat-tab-header-active-focus-label-text-color: #000 !important;
        --mat-tab-header-active-hover-label-text-color: #fcd535 !important;
        --mat-tab-header-active-focus-indicator-color: #fcd535 !important;
        --mat-tab-header-active-hover-indicator-color: #fcd535 !important;
    }

    .mdc-tab-indicator__content--underline {
        width: 20%;
        border-width: 2px;
    }
}
